.nav__pages--animacion:hover {
		transform: scale(1.03,1.03);

}

.discos__spotify--animacion:hover {
		transform: scale(1.03,1.03);

}

.footer__redes--animacion:hover {
	transform: translate(0px, -3px);
}

.img--animacion:hover {
		transform: scale(1.03,1.03);
}

.shows__entradas--animacion:hover {
		transform: scale(1.03,1.03);
}