.disco--grid {
	display: grid;
	grid-template-areas: 
		"image content"
		"descripcion content";
	grid-template-rows: 300px auto;
	grid-template-columns: 25% 75%;	
}

.disco__img--grid {
	grid-area: image;
}

.dico__lista--grid {
	grid-area: content;
}

.disco__descripcion--grid {
	grid-area: descripcion;
}